body {
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.nav-item {
  margin: 10px;
}

.login,
.addReview {
  text-align: center;
  width: 300px;
  margin-left: 20%;
}

.blockquote {
  margin: 10%;
}

.links button {
  margin-left: 10px;
}
